code{
    display:block;
}
nav ul li{
    text-decoration: none;
    list-style-type: none;
}
#title{
    font-weight: bold;
    font-size: 40px;
}
header{
    font-size: 25px;
    font-weight:bold;
}
#navbar{
    display:block;
    height:100%;

}